/* purgecss start ignore */
@font-face {
  font-family: 'pen-icon';
  src:
    url('fonts/pen-icon.ttf') format('truetype'),
    url('fonts/pen-icon.woff') format('woff'),
    url('fonts/pen-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pen-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e901";
}
.icon-create:before {
  content: "\e902";
}
.icon-bold:before {
  content: "\e903";
}
.icon-format:before {
  content: "\e904";
}
.icon-italic:before {
  content: "\e905";
}
.icon-unordered-list:before {
  content: "\e906";
}
.icon-ordered-list:before {
  content: "\e907";
}
.icon-quote:before {
  content: "\e908";
}
.icon-strikethrough:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-uncheck:before {
  content: "\e90b";
}
.icon-code:before {
  content: "\e90c";
}
.icon-power:before {
  content: "\e90d";
}
.icon-config:before {
  content: "\e90e";
}
.icon-redo:before {
  content: "\e90f";
}
.icon-undo:before {
  content: "\e910";
}
.icon-outdent:before {
  content: "\e911";
}
.icon-indent:before {
  content: "\e912";
}
.icon-public:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-delete:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-file:before {
  content: "\e917";
}
.icon-folder:before {
  content: "\e918";
}
.icon-create_folder:before {
  content: "\e919";
}
.icon-hand:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e91b";
}
.icon-vote:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e91d";
}
.icon-back:before {
  content: "\e91e";
}
/* purgecss end ignore */
