html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
}

.no-select {
  user-select: none;
}

.fix-icon {
  margin-top: 1px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cacaca5c;
  svg {
    path,
    rect {
      fill: #ff6700;
    }
  }
}

.note-item:focus {
  background-color: lightyellow;
}

#list {
  height: calc(100vh - 65px);
  overflow: auto;
}
#content {
  height: calc(100vh - 73px);
  overflow: auto;
}

#content.showMenu .menubar {
  display: flex;
}

.menubar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  display: none;
}

.menuitem {
  font-size: 1.25em;
}

.ProseMirror {
  @media screen and (min-width: 30em) {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
