html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: manipulation;
}

.nobounce {
  -webkit-overflow-scrolling: touch;
}

.no-select {
  user-select: none;
}

.fix-icon {
  margin-top: 1px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cacaca5c;
  svg {
    path,
    rect {
      fill: #ff6700;
    }
  }
}

.note-item:focus {
  background-color: lightyellow;
}

#list {
  height: calc(100vh - 65px);
  overflow: auto;
}
#content {
  overflow: auto;
}

#content.showMenu .menubar {
  display: flex;
}

.menubar {
  display: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  @media screen and (min-width: 30em) {
    margin-left: 0;
    margin-right: 0;
    padding-left: calc(4rem);
    padding-right: calc(4rem);
    height: auto;
    flex-direction: row;
    border-bottom: 0;
    &:after {
      content: '';
      width: 100%;
      border-bottom: 1px solid lightgray;
    }
  }
  @media screen and (max-width: 30em) {
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 53px;
    &::-webkit-scrollbar {
      display: none;
    }
    .menuitem {
      flex: 0 0 40px;
    }
  }
}

.menuitem {
  font-size: 1.25em;
}

.ProseMirror {
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1 auto;
  @media screen and (min-width: 30em) {
    margin-left: 0;
    margin-right: 0;
    padding-left: calc(4rem + 8px);
    padding-right: calc(4rem + 8px);
  }
}

.modal {
  @media screen and (min-width: 30em) {
    min-width: 30em;
  }
}
