html,
body {
  height: 100%;
  overscroll-behavior: none;
  touch-action: manipulation;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.no-select {
  user-select: none;
}

/* .nobounce { */
/*   -webkit-overflow-scrolling: touch; */
/* } */

.fix-icon {
  margin-top: 1px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cacaca5c;
  svg {
    path,
    rect {
      fill: #ff6700;
    }
  }
}

.note-item:focus {
  background-color: lightyellow;
}

#list {
  height: calc(100vh - 65px);
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
#content {
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#content.showMenu .menubar {
  display: flex;
  @media screen and (max-width: 30em) {
    display: block;
    height: 53px;
    min-height: 53px;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.menubar {
  display: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  @media screen and (min-width: 30em) {
    margin-left: 0;
    margin-right: 0;
    padding-left: calc(4rem);
    padding-right: calc(4rem);
    height: auto;
    flex-direction: row;
    border-bottom: 0;
    &:after {
      content: '';
      width: 100%;
      border-bottom: 1px solid lightgray;
    }
  }
}

.menuitem {
  font-size: 1.25em;
  @media screen and (max-width: 30em) {
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }
}

.ProseMirror {
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1 auto;
  @media screen and (min-width: 30em) {
    margin-left: 0;
    margin-right: 0;
    padding-left: calc(4rem + 8px);
    padding-right: calc(4rem + 8px);
  }
}

.modal {
  @media screen and (min-width: 30em) {
    min-width: 30em;
  }
}
