html,
body {
  height: 100%;
}

.hover-to-show {
  .hover-element-to-show {
    display: none;
  }
  &:hover {
    > .hover-element-to-show {
      display: inline-block;
    }
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cacaca5c;
  svg path,
  svg rect {
    fill: #FF6700;
  }
}

#content {
  min-height: calc(100vh - 73px)
}

.menubar {
  position: sticky;
  top: 65px;
  background: white;
  z-index: 1;
}

.ProseMirror {
  flex: 1 1 auto;
}
