html,
body {
  height: 100%;
}

.hover-to-show {
  .hover-element-to-show {
    display: none;
  }
  &:hover {
    > .hover-element-to-show {
      display: inline-block;
    }
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}
